<!DOCTYPE html>
<html>

<title>Kidney Stones</title>
<meta charset="UTF-8">
<script defer="defer" src="/dist/bundle.js"></script>
<link href="/dist/main.css" rel="stylesheet">

</head>

<body class="w-screen h-screen overflow-auto flex flex-col font-['Be_vietnam_pro']">

    {{>nav}}

    <main class="justify-center items-center w-full h-full flex flex-col font-['Be_vietnam_pro']">