{{>html_head}}

<div class="flex flex-col gap-2 items-center justify-center">
    <img src="/assets/newgitlogotrans2.png" />
    <h1 class="text-3xl font-semibold">KidneyStones (non-final)</h1>
</div>

{{>html_tail}}